body
{
    width: auto;
    height: auto;
    min-height: 100%;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

#AppScreen
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

#Carcass
{
    width: min-content;
    height: min-content;
    background-color: #ccc;
    padding: 16px;
    border-radius: 3px;
    box-shadow: 6px 6px #999;
    outline: none;
}

#inputHandler
{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    border: 0;
    outline: none;
    user-select: none;
}

.Holder
{
    display: flex;
    margin-top: 8px;
    margin-right: -8px;
}

#Display
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 4px;
    border: 1px #333 solid;
    margin-right: 8px;
    border-radius: 3px;
    box-shadow: -3px -3px #999;
}

#LED
{
    width: 100%;
    height: 28px;
    font-family: sans-serif;
    font-size: 24px;
}

#LowerLED
{
    width: 100%;
    height: 18px;
    font-family: sans-serif;
    font-size: 18px;
}

.Key
{
    position: relative;
    bottom: 2px;
    right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    min-width: min-content;
    height: 48px;
    min-height: min-content;
    background-color: #555;
    margin-right: 8px;
    font-size: 24px;
    font-weight: bolder;
    color: #ccc;
    box-shadow: 2px 2px #333;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
}

.Key:active
{
    bottom: 0;
    right: 0;
    box-shadow: 0 0;
}

.Key:hover
{
    filter: brightness(1.2);
}

.Key .Horizontal
{
    display: inherit;
    justify-content: center;
    align-items: center;
    width: calc(2 * 48px + 8px);
    height: inherit;
}

.Key .Vertical
{
    display: inherit;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: calc(2 * 48px + 8px);
}